@model AXCEX_ONLINE.Models.EmployeeModel

@{
    ViewData["Title"] = "EmployeeHome";
}

<div class="container">

    <h3>Your Dashboard</h3>
    <hr />
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#AccountOverview" data-toggle="tab" aria-expanded="false">Account Overview</a>

        </li>

        <li>
            <a href="#Projects" data-toggle="tab" aria-expanded="true">Projects</a>
        </li>

        <li>
            <a href="#Tasks" data-toggle="tab" aria-expanded="true">Tasks</a>
        </li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <!-- Account Overview Section-->
        <div class="tab-pane fade in active" style="padding-left:20px" id="AccountOverview">
            <div class="row" style="padding-top:15px;padding-left:10px">



                <h5 class="text-center text-muted">Account Overview For @Model.EMP_FNAME</h5>
                <p class="text-info" style="padding-top:15px;">
                    Below are links to edit your account information and manage other account
                    related information.
                </p>

                <form asp-action="EditEmployee">
                    <button class="btn-primary" type="submit" formmethod="get">Edit Account</button>
                </form>


            </div>
        </div>

        <!-- Projects Overview Section-->
        <div class="tab-pane" style="padding-left:20px;" id="Projects">
            
            @await Component.InvokeAsync("ProjectVC", new { id = @Model.EMPID })
           
                <form asp-action="ViewAssignedProjects">
                    <input type="hidden" asp-for="EMPID" />
                    <button class="btn-info" type="submit" formmethod="get">View All Assigned Projects</button>
                </form>
           
        </div>
        <!-- Tasks Overview Section-->
        <div class="tab-pane" style="padding-left:20px" id="Tasks">

        </div>
    </div>


    <!--<a role="button" asp-controller="Employee" asp-action="EditEmployee">Edit Account</a>-->
    @*<div class="row">
            <div class="col-sm-4 card text-white bg-primary mb-3" style="max-width: 50rem;">
                <div class="card-header">Employee Account Navigation:</div>
                <div class="card-body">
                    <h5 class="card-title">Hello, @Model.EMP_FNAME.</h5>
                    <p class="card-text">
                        Below are links to edit your account information and manage other account
                        related information.
                    </p>
                    <div class="row">
                        <form asp-action="EditEmployee">
                            <button class="btn-primary" type="submit" formmethod="get">Edit Account</button>
                        </form>

                    </div>
                </div>
            </div>

            <div class="col-sm-4 card text-white bg-primary mb-3 col-lg-offset-1" style="max-width: 50rem;">
                <div class="card-header">Employee Projects Navigation:</div>
                <div class="card-body">
                    <h5 class="card-title">Projects Assigned:</h5>
                    <p class="card-text">
                        Here you'll find tools to track project progress and view work assigned.
                    </p>
                    <div class="row">

                        <form asp-action="ViewAssignedProjects">
                            <input type="hidden" asp-for="EMPID" />
                            <button class="btn-info" type="submit" formmethod="get">Assigned Projects</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("ProjectVC", new { id = @Model.EMPID })
        </div>*@
</div>

