@model AXCEX_ONLINE.Models.EmployeeModel

@{
    ViewData["Title"] = "EmployeeHome";
}

<h2>@Model.UserName Home</h2>

Hello, @Model.EMP_FNAME .
<a role="button" asp-controller="Employee" asp-action="EditEmployee">Edit Account</a>


