@{
    ViewData["Title"] = "Home Page";
}


<div class="table">
    <h1 class="display-3">AXCEX Online Management</h1>
    <p class="lead">This is a web application that makes it easy for customers and employees of AXCEX to view and manage projects.</p>
    <hr class="my-4">
    <p> </p>
    <p class="lead">
       <a class="btn btn-primary btn-lg" href="http://www.axcexmedia.com/" role="button">AXCEX Website</a>
    </p>
</div>
<!-- SECTION OF LOGIN PORTALS-->
<div class="row">
    <!-- THIS IS THE CUSTOMER LOGIN PORTAL-->
    <div class="card text-white bg-primary mb-3 col-lg-offset-0" style="min-width: 50rem;">
        <div class="card-header">Customers</div>
        <div class="card-body">
            <h4 class="card-title">Customer Links</h4>
            <p class="card-text">If you are a customer, please login here:</p>
            <div class="row">
                <ul>
                    <li>
                        <a class="text-info" asp-controller="Customer" asp-action="CustomerLogin">Customer Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- THIS IS THE Employee LOGIN PORTAL-->
    <div class="card text-white bg-primary mb-3 col-md-offset-1" style="min-width: 50rem;">
        <div class="card-header">Employees</div>
        <div class="card-body">
            <h4 class="card-title">Employee Links</h4>
            <p class="card-text">
                If you are an employee, please login here:

            </p>
            <div class="row">
                <ul>
                    <li>
                        <a class="text-info" asp-controller="Employee" asp-action="EmployeeLogin">Employee Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>


