@{
    ViewData["Title"] = "Home Page";
}


<!--<p>
    <b>Employee Portal:</b>

    <br />
    <a asp-controller="Employee" asp-action="RegisterEmployee">Register Employee</a>
    <br />
    <a asp-controller="Employee" asp-action="EmployeeLogin">Employee Login</a>
    
    <br/>

    <b>Admin Portal:</b>

    <br />
    <a asp-controller="Admin" asp-action="RegisterAdmin"> Register Admin</a>
    <br />
    <a asp-controller="Admin" asp-action="AdminLogin">Admin Login</a>

</p>-->
<h1>Welcome Page</h1>
    <p> 
        This is a web application to help keep track of projects with AXCEX Media. Please choose your login.
    </p>

    <div class="row" >

        <form asp-controller="Account" asp-action="Login">

            <button formmethod="get" class="btn-lg btn-light" type="submit">Customer</button>

        </form>

        <form asp-controller="Employee" asp-action="EmployeeLogin">

            <button formmethod="get" class="btn-lg btn-light" type="submit">Employee</button>

        </form>

        <form asp-controller="Admin" asp-action="AdminLogin">

            <button formmethod="get" class="btn-lg btn-light" type="submit">Admin</button>

        </form>

    </div>
<h2> Register</h2>
<div class="row">

    <a asp-controller="Employee" asp-action="RegisterEmployee">Register Employee</a>

    <form asp-controller="Admin" asp-action="RegisterAdmin">

        <button formmethod="get" class="btn-lg btn-light" type="submit">Register Admin</button>

    </form>
</div>
