@{
    ViewData["Title"] = "Home Page";
}

<h1>Portal for AXCEX Media Online Management</h1>
<p>
    <b>Employee Portal:</b>

    <br />
    <a asp-controller="Employee" asp-action="RegisterEmployee">Register Employee</a>
    <br />
    <a asp-controller="Employee" asp-action="EmployeeLogin">Employee Login</a>
    
    <br/>

    <b>Admin Portal:</b>

    <br />
    <a asp-controller="Admin" asp-action="RegisterAdmin"> Register Admin</a>
    <br />
    <a asp-controller="Admin" asp-action="AdminLogin">Admin Login</a>

</p>
