@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to AXCEX Online Management Application</h1>
<p class="text-white">
    This is a web application to help keep track of projects with AXCEX Media. Please choose your login. If you're a customer, please choose login or register at the top right hand corner.
</p>
<p>
    <b>Employee Portal:</b>

    <!--<br />
    <a asp-controller="Employee" asp-action="RegisterEmployee">Register Employee</a>
    -->
    <br />
    <a asp-controller="Employee" asp-action="EmployeeLogin">Employee Login</a>

    <br /><br />

    <b>Owner Portal:</b>

    
    <!--<a asp-controller="Admin" asp-action="RegisterAdmin"> Register Admin</a>
    -->
    <br />
    <a asp-controller="Admin" asp-action="AdminLogin">Owner Login</a>

</p>


<!--<div class="row" >

    <form asp-controller="Account" asp-action="Login">

        <button formmethod="get" class="btn-lg btn-light" type="submit">Customer</button>

    </form>

    <form asp-controller="Employee" asp-action="EmployeeLogin">

        <button formmethod="get" class="btn-lg btn-light" type="submit">Employee</button>

    </form>

    <form asp-controller="Admin" asp-action="AdminLogin">

        <button formmethod="get" class="btn-lg btn-light" type="submit">Admin</button>

    </form>

</div>

    -->
