@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model LoginViewModel

<div class="jumbotron">
    <h1 class="display-3">Online Project Management</h1>
    <p class="lead">This is a web application that makes it easy for customers and employees to view and manage projects.</p>
    <hr class="my-4">
    <p> </p>
    <p class="lead">
        <a class="btn btn-info btn-lg" href="#" role="button">Company Website</a>
    </p>
</div>
@if (!SignInManager.IsSignedIn(User))
{

    <ul class="nav nav-tabs">

        <li class="active">
            <a href="#EmployeeLoginTab" data-toggle="tab" aria-expanded="false">Employee Login</a>

        </li>-

        <li>
            <a href="#CustomerLoginTab" data-toggle="tab" aria-expanded="true">Customer Login</a>
        </li>


    </ul>


    <div id="myTabContent" class="tab-content">

        <!-- Employe Login-->
        <div class="tab-pane fade in active" style="padding-left:20px" id="EmployeeLoginTab">
            <div class="row" style="padding-top:15px;padding-left:5%">
                <div class="form-group">

                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" asp-controller="Employee" asp-action="EmployeeLoginWithLoginModel">

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label class="text-dark" asp-for="Email"> Employee Email</label>
                            <input asp-for="Email" class="form-control" style="max-width:350px" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="text-dark" asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" style="max-width:350px" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-sm btn-info" style="max-width:350px">Login</button>
                        </div>
                        @*<div class="form-group">
                            <p>
                                <a class="text-info" style="max-width:350px" asp-controller="Customer" asp-action="CustomerRegister" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new customer?</a>
                            </p>
                        </div>*@
                    </form>

                </div>
            </div>
        </div>

        <!-- Customer Login-->
        <div class="tab-pane" style="padding-left:20px;" id="CustomerLoginTab">
            <div class="row" style="padding-top:15px;padding-left:5%">

                <div class="form-group">

                    <form asp-action="CustomerLogin" asp-controller="Customer" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label class="text-dark" asp-for="Email"> Customer Email</label>
                            <input asp-for="Email" class="form-control" style="max-width:350px" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="text-dark" asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" style="max-width:350px" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-sm btn-info" style="max-width:350px">Login</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a class="text-info" style="max-width:350px" asp-controller="Customer" asp-action="CustomerRegister" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new customer?</a>
                            </p>
                        </div>
                    </form>

                </div>

            </div>
        </div>
        
    </div>

}








<!-- SECTION OF LOGIN PORTALS-->
@*<div class="panel-group">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Customer Login</div>
            <div class="panel-body">
                <p>If you are a customer, please login here:</p>
                <div class="row">
                    <ul>
                        <li>
                            <a class="text-info" asp-controller="Customer" asp-action="CustomerLogin">Customer Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>*@

<!-- THIS IS THE Employee LOGIN PORTAL-->
@*<div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Employee Login</div>
            <div class="panel-body">
                <p>If you are a employees, please login here:</p>
                <div class="row">
                    <ul>
                        <li>
                            <a class="text-info" asp-controller="Employee" asp-action="EmployeeLogin">Employee Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>*@
@*</div>*@

