@model AXCEX_ONLINE.Models.CustomerViewModels.CustomerHomeVM

@{
    ViewData["Title"] = "EmployeeHome";
}

<h2>Customer Dashboard</h2>

<div class="row">
    <div class="col-sm-4 card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Employee Account Navigation:</div>
        <div class="card-body">
            <h5 class="card-title">Hello, @Model.CustomerName.</h5>
            <p class="card-text">
                Below are links to edit your account information and manage other account
                related information.
            </p>
            <div class="row">
                <form asp-controller="Manage" asp-action="Index">
                    <button class="btn-primary" type="submit" formmethod="get">Edit Account</button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-sm-4 card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Projects Navigation:</div>
        <div class="card-body">
            <h5 class="card-title">Projects:</h5>
            <p class="card-text">
                Here you'll find tools to track project progress and view work assigned.
            </p>

        </div>

    </div>

</div>
@if (Model.NumProjects > 0)
{
<div class="row">
    @await Component.InvokeAsync("CustomerProjectVC", new { customer_email = @Model.Email })
</div>
}
else
{
<div>
    No Projects are Active.
</div>
}



