@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container" style="">
    <div class="row col-md-12" style="padding-left:45px">
        <div class="panel panel-default col-md-8" style="min-width:350px;max-width:450px">
            <div class="panel-heading">Register a New Customer Account</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <section>
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>


                            <div class="form-group">
                                <label asp-for="Email" class="control-label "></label>
                                <input asp-for="Email" style="max-width:350px" class="form-control " />
                                <span asp-validation-for="Email" class="text-danger "></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="Password" class="control-label "></label>
                                <input asp-for="Password" style="max-width:350px" class="form-control  " />
                                <span asp-validation-for="Password" class="text-danger "></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label "></label>
                                <input asp-for="ConfirmPassword" style="max-width:350px" class="form-control  " />
                                <span asp-validation-for="ConfirmPassword" class="text-danger "></span>
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn-sm btn-info">Register</button>

                            </div>

                        </form>
                    </section>

                </div>
            </div>
        </div>
    </div>
    </div>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
